.question {
  color: gray;
}

.example {
  float: left;
  margin-right: 10px;
}

.exampleImage {
  height: 180px;
  width: 200px;
}

.exampleAnswer {
  background-color: red;
  color: white;
  text-align: center;
}

.correct {
  background-color: green;
  color: white;
  text-align: center;
}