.workspace {
  clear: both;
}

.operand {
  float: left;
  margin-right: 10px;
}

.blankChoice {
  height: 180px;
  width: 200px;
}

.yesChoice {
  height: 180px;
  width: 300px;
}

.noChoice {
  height: 300px;
  width: 200px;
}


.nobutton {
  background-color: red;
  width: 60px;
}

.yesbutton {
  background-color: green;
  width: 60px;
}